<div class="blank"></div>
<input type="search" class="form-control" placeholder="Search" ng-model="query"/>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th ng-repeat="field in fields">
                {{field | labelCase}}
            </th>
        </tr>
    </thead>
    <tbody>
    <tr ng-click="show(school)" ng-repeat="school in schools | filter: query">
        <td ng-repeat="field in fields">
            {{school[field]}}
        </td>
    </tr>
    </tbody>
</table>
<a class="btn btn-default" ng-href="newContact">New School</a>