<div class="blank"></div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">User info</h3>
    </div>
    <div class="panel-body">User : {{user.username}}</div>
    <div class="panel-body">Role: {{user.role.authority}}</div>
</div>

<div class="blank"></div>

<a href="#" class="btn btn-default openall">open all</a> <a href="#" class="btn btn-default closeall">close all</a>

<div class="blank"></div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-repeat="myClassroom in myClassrooms">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{myClassroom.id}}" aria-expanded="true" aria-controls="collapseOne">
                        {{myClassroom.classroom.name}}
                    </a>
                </h4>
            </div>
            <div id="{{myClassroom.id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th ng-repeat="field in fields">
                                {{field | labelCase}}
                            </th>
                        </tr>
                        </thead>
                        <tr ng-repeat="activity in myClassroom.classroom.activityList">
                            <td>{{ activity.name }}</td>
                            <!--<td><a ui-sref="classroom_parent.classroom_detail({id:activity.classroom.id})">{{ activity.classroom.name }}</a></td>-->
                            <td>{{ activity.date }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

<script>
    $('.closeall').click(function(){
        $('.panel-collapse.in')
                .collapse('hide');
    });
    $('.openall').click(function(){
        $('.panel-collapse:not(".in")')
                .collapse('show');
    });
    $( document ).ready(function() {
        $( '.closeall' ).click();
    });
</script>