<input type="search" class="form-control" placeholder="Search" ng-model="query"/>
<div class="blank"></div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Registered Schools</div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th ng-repeat="field in fields">
                {{field | labelCase}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-click="show(school)" ng-repeat="school in schools | filter: query">
            <td ng-repeat="field in fields">
                {{school[field]}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<a class="btn btn-default" ng-href="newContact">New School</a>


<!-- Modal HTML -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Edit school</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name" class="control-label">Name:</label>
                        <input ng-model="school.name" type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label">Address:</label>
                        <textarea ng-model="school.address" class="form-control" id="address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="director" class="control-label">Director:</label>
                        <input ng-model="school.director" type="text" class="form-control" id="director">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>